* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #1b98f5, #3944f7);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.chatbox {
  background: #115b7a;
  width: 75%;
  min-width: 250px;
  display: flex;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex-basis: 250px;
  background: #46b2e0;
}
.message-row {
  display: flex;
  align-items: center;
  margin: 40px;
}
.message-text {
  background: #6ac47e;
  padding: 20px 40px;
  border-radius: 8px;
  flex-basis: 70%;
  font-weight: 400;
}
.message-text h2 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}
.message-image {
  width: 60px;
  border-radius: 50%;
  margin: 0 20px;
}
.message-row2 {
  justify-content: flex-end;
}
.col-1 input {
  border: 0;
  outline: none;
  padding: 20px 40px;
  background: #207398;
  color: #fff;
  font-size: 17px;
  width: 100%;
  font-weight: 380;
}
::placeholder {
  color: #fff;
}
.col-2 ul {
  list-style: none;
  padding: 30px;
}
.col-2 h3 {
  text-align: center;
  margin-top: 50px;
  font-weight: 400;
}
.col-2 ul li {
  padding: 5px 0;
}

.col-2 ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  display: inline-block;
  margin-right: 10px;
}
.col-2 ul li.online::before {
  background-color: #1c8d73;
}

.col-2 ul li.offline::before {
  background-color: tomato;
}
.col-2 ul li.busy::before {
  background-color: #f7cd2e;
}
.footer-credit {
  width: 100%;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  color: rgb(238, 238, 238, 0.2);
}
